<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
    <title>Event Production Report</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/ourStyles.css">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Turtle Shelter Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>

    <div class="container">
        <h1>Event Production Report</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="color: black;">Event Name</th>
                    <th style="color: black;">Event Type</th>
                    <th style="color: black;">Participants</th>
                    <th style="color: black;">Date/Time</th>
                    <th style="color: black;">City/State</th>
                    <th style="color: black;">Jen's Story</th>
                    <th style="color: black;">Contact</th>
                    <th style="color: black;">Item Name</th>
                    <th style="color: black;">Item Size</th>
                    <th style="color: black;">Items Produced</th>
                    <th style="color: black;">Total Attendees Actual</th>
                    <th style="color: black;">Event Duration Actual</th>
                </tr>
            </thead>
            <tbody>
                <% completedEvents.forEach(event => { %>
                    <tr>
                        <td><%= event.event_name %></td>
                        <td><%= event.event_type %></td>
                        <td><%= event.number_of_participants_expected %></td>
                        <td><%= new Date(event.event_date_time).toLocaleString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) %></td>
                        <td><%= event.event_city %>, <%= event.event_state %></td>
                        <td><%= event.event_jen_story %></td>
                        <td><%= event.event_contact_first_name %> <%= event.event_contact_last_name %>: <%= event.event_contact_phone %></td>
                        <td><%= event.inventory_name || 'N/A' %></td>
                        <td><%= event.inventory_size || 'N/A' %></td>
                        <td><%= event.item_count || 'N/A' %></td>
                        <td><%= event.total_attendees_actual || 'N/A' %></td>
                        <td><%= event.event_duration_actual || 'N/A' %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="mt-4 text-center">
            <form action="/update_event_production/<%= completedEvents[0]?.event_id || '' %>" method="get">
                <button type="submit" class="btn btn-primary">Add Report</button>
            </form>
            
        </div>
    </div>
</body>
</html>
