<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Event Manager</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@400&display=swap" rel="stylesheet" type="text/css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/ourStyles.css" rel="stylesheet" />
    <style>
        .contain-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .contain-btns a {
            display: inline-block;
            padding: 4px 8px;
            font-size: 0.8rem;
            color: white;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;
            margin-right: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
   </style>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style="position: fixed; width: 100%; z-index: 100; background-color: #1F2B3D; border-bottom: .5px solid #FBFAF7">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/" style="font-weight: 100;">
                <img src="assets/favicon.png" alt="Logo" style="height: 40px; margin-right: 10px;">
                TURTLE SHELTER PROJECT
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/event_manager">Manage Events</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/volunteer_manager">Manage Volunteers</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #FBFAF7;" href="/inventory_view">Inventory</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #FBFAF7;" href="/edit_profile">Profile</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #FBFAF7;" href="/logout">Logout</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/dashboard">My Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="admin-container">
            <h1 style="color: #FBFAF7; margin-bottom: 40px">EVENT MANAGER</h1>
                <div style="display: flex; justify-content: center; gap: 20px; margin: 10px 0;">
                    <a href="#approved" class="btn btn-success" style="background-color: #FBFAF7; color: #393939; text-decoration: none; border: 2px solid #FBFAF7">Approved</a>
                    <a href="#pending" class="btn btn-success" style="background-color: #FBFAF7; color: #393939; text-decoration: none; border: 2px solid #FBFAF7">Pending</a>
                    <a href="#declined" class="btn btn-success" style="background-color: #FBFAF7; color: #393939; text-decoration: none; border: 2px solid #FBFAF7">Declined</a>
                    <a href="#completed" class="btn btn-success" style="background-color: #FBFAF7; color: #393939; text-decoration: none; border: 2px solid #FBFAF7">Completed</a>
                    <a href="/request_event" class="btn btn-success" style="background-color: #FBFAF7; color: #393939; text-decoration: none; border: 2px solid #FBFAF7">Manually Add Event</a>
                </div>

        <section id="approved" style="padding-top: 60px; margin-top: 60px;"> 
            <h2 id="approved" style="color: #FBFAF7; font-weight: 100;"> Approved Events</h2>
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Event Type</th>
                        <th>Participants</th>
                        <th>Date/Time</th>
                        <th>City/State</th>
                        <th>Jen's Story</th>
                        <th>Contact</th>
                        <th>Actions</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% approvedEvents.forEach(events => { %>
                        <tr>
                            <td><%= events.event_name %></td>
                            <td><%= events.event_type %></td>
                            <td><%= events.number_of_participants_expected %></td>
                            <td><%= new Date(events.event_date_time).toLocaleString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) %></td>
                            <td><%= events.event_city %> <%= events.event_state %></td>
                            <td><%= events.event_jen_story %></td>
                            <td><%= events.event_contact_first_name %> <%= events.event_contact_last_name %>: <%= events.event_contact_phone %></td>
                            <td>
                                <div class="contain-btns">
                                    <a href="/edit_events/<%= events.event_id %>" class="btn btn-success">Edit</a>
                                    <a href="/delete_event/<%= events.event_id %>" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this event?');">Delete</a>    
                                </div>
                            </td>                                                     
                            <td style="text-transform: uppercase"><%= events.event_status %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>

        <section id="pending" style="padding-top: 60px; margin-top: 60px;"> 
            <h2 id="pending" style="color: #FBFAF7; font-weight: 100;">Pending Events</h2>
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Event Type</th>
                        <th>Participants</th>
                        <th>Date/Time</th>
                        <th>City/State</th>
                        <th>Jen's Story</th>
                        <th>Contact</th>
                        <th>Actions</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% pendingEvents.forEach(events => { %>
                        <tr>
                            <td><%= events.event_name %></td>
                            <td><%= events.event_type %></td>
                            <td><%= events.number_of_participants_expected %></td>
                            <td><%= new Date(events.event_date_time).toLocaleString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) %></td>
                            <td><%= events.event_city %> <%= events.event_state %></td>
                            <td><%= events.event_jen_story %></td>
                            <td><%= events.event_contact_first_name %> <%= events.event_contact_last_name %>: <%= events.event_contact_phone %></td>
                            <td>
                                <div class="contain-btns">
                                    <a href="/edit_events/<%= events.event_id %>" class="btn btn-success">Edit</a>
                                    <a href="/delete_event/<%= events.event_id %>" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this event?');">Delete</a>    
                                </div>
                            </td>  
                            <td style="text-transform: uppercase"><%= events.event_status %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>

        <section id="declined" style="padding-top: 60px; margin-top: 60px;"> 
            <h2 id="declined" style="color: #FBFAF7; font-weight: 100;">Declined Events</h2>
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Event Type</th>
                        <th>Participants</th>
                        <th>Date/Time</th>
                        <th>City/State</th>
                        <th>Jen's Story</th>
                        <th>Contact</th>
                        <th>Actions</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% declinedEvents.forEach(events => { %>
                        <tr>
                            <td><%= events.event_name %></td>
                            <td><%= events.event_type %></td>
                            <td><%= events.number_of_participants_expected %></td>
                            <td><%= new Date(events.event_date_time).toLocaleString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) %></td>
                            <td><%= events.event_city %> <%= events.event_state %></td>
                            <td><%= events.event_jen_story %></td>
                            <td><%= events.event_contact_first_name %> <%= events.event_contact_last_name %>: <%= events.event_contact_phone %></td>
                            <td>
                                <div class="contain-btns">
                                    <a href="/edit_events/<%= events.event_id %>" class="btn btn-success">Edit</a>
                                    <a href="/delete_event/<%= events.event_id %>" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this event?');">Delete</a>    
                                    </div>
                            </td>  
                            <td style="text-transform: uppercase"><%= events.event_status %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>

        <section id="completed" style="padding-top: 60px; margin-top: 60px;"> 
            <h2 id="completed" style="color: #FBFAF7; font-weight: 100;">Completed Events</h2>
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Event Type</th>
                        <th>Participants</th>
                        <th>Date/Time</th>
                        <th>City/State</th>
                        <th>Jen's Story</th>
                        <th>Contact</th>
                        <th>Actions</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% completedEvents.forEach(events => { %>
                        <tr>
                            <td><%= events.event_name %></td>
                            <td><%= events.event_type %></td>
                            <td><%= events.number_of_participants_expected %></td>
                            <td><%= new Date(events.event_date_time).toLocaleString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) %></td>
                            <td><%= events.event_city %> <%= events.event_state %></td>
                            <td><%= events.event_jen_story %></td>
                            <td><%= events.event_contact_first_name %> <%= events.event_contact_last_name %>: <%= events.event_contact_phone %></td>
                            <td>
                                <div class="contain-btns">
                                    <a href="/edit_events/<%= events.event_id %>" class="btn btn-success">Edit</a>
                                    <a href="/delete_event/<%= events.event_id %>" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this event?');">Delete</a>   
                                    <a href="/event_production_report/<%= events.event_id %>" class="btn btn-report">Report</a>
                                </div>
                            </td>  
                            <td style="text-transform: uppercase"><%= events.event_status %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
 
        </div>
        <!-- Smaller Site Footer -->
        <footer class="site-footer" style="height: 150px; position: relative; bottom: 0; left: 0; width: 100%; background-color: #1F2B3D; padding: 0; border-top: .5px solid #FBFAF7">
            <div class="container" style="height: 100%; display: flex; flex-direction: column; justify-content: center; padding:0">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="text-uppercase" style="font-weight: 100; font-size: 16px; text-align: center; color: #FBFAF7; padding-top: 40px;">Thank you for visiting the turtle shelter project</h5>
                        <p class="small mb-0" style="font-family: sans-serif; font-size: 10px; font-weight: 100; text-align: center; color: #FBFAF7;">
                            &copy; 2024 Turtle Shelter Project. All Rights Reserved. We are a registered 501(c)(3) nonprofit organization.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="social-icons">
                            <li><a class="facebook" href="https://www.facebook.com/turtleshelterproject/"><i class="fab fa-facebook" style="color: #FBFAF7;"></i></a></li>
                            <li><a class="linkedin" href="https://www.linkedin.com/in/turtle-shelter-project-6aa0aa1a4/"><i class="fab fa-linkedin" style="color: #FBFAF7;"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
